<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Normal Bootstrap mobile view -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- Disable zoom -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->

    <title>Test UI for Wake light</title>

    <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js"></script> -->
  </head>

  <body>
    <a class="btn btn-lg btn-default" href="wakeup_sunrise">Brighten</a>
    <a class="btn btn-lg btn-default btn-danger" href="wakeup_strobo">Strobo!</a>
    <a class="btn btn-lg btn-default" href="wakeup_dismiss">Dismiss, switch off</a>

    <!-- <script src="scripts.js"></script> -->
  </body>
</html>
