// Styles pulled from Chrome's Keyboard shortcuts modal
.command-container {
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    padding: 0.4em 0;
    width: 60%;
}

.command-description {
    -webkit-box-flex: 1;
    display: -webkit-box;
    margin-top: 0.5em;
    min-height: 2em;
}

.command-shortcut-container {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    color: #303942;
    display: -webkit-box;
    height: 1.4em;
    margin-top: 0.25em;
    min-width: 12.5em;
    outline: none;
    padding: 4px 0 2px 5px;
    position: relative;

    &.capturing {
        background: #f3f4ff;
        border: 1px solid #8c93ff;
        color: #999;

        .command-clear {
            display: none;
        }
    }

    &.inactive-keybinding {
        color: #999;

        .command-clear {
            opacity: 0.5;

            &:hover {
                background-color: #dbdbdb;
            }
        }
    }

    &.highlight {
        background: #f9fdd5;
        border: 1px solid #dbcb23;
        color: #6a6a6a;
    }
}

.command-shortcut {
    display: inline-block;
}

.command-clear {
    background-color: #dbdbdb;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 13px;
    line-height: 1;
    opacity: 1;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.4em;
    width: 13px;

    &:hover {
        background-color: darken(#dbdbdb, 10);
    }
}