body {
    background-color: #fdfdfd;
    font-family: 'Chrome Droid Sans', 'Droid Sans Fallback', 'Lucida Grande', sans-serif;
    font-size: 75%;
    cursor: default;
    margin: 0;
}

a {
    border: none;
    color: #15C;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;

    &:hover, &:focus {
        outline: none;
    }
}

ul, ol {
    padding: 0;
}

li {
    list-style-type: none;
}

dl, dt, dd {
    margin:0;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}