.arrow_collapse {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid #999;
    -webkit-margin-end: 4px;
    top: 1px;
}

.arrow_expand {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #999;
    -webkit-margin-end: 4px;
}

.arrow {
    width: 0;
    height: 0;
    position: relative;
    display: inline-block;
}

.delete {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    display: block;
    opacity: 0;
    height: 14px;
    width: 14px;
    -webkit-transition: 150ms opacity;
    background-color: transparent;
    text-indent: -5000px;
    position: absolute;

    &:hover {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");
    }
}