[role=navigation] {
    box-sizing: border-box;
    float: left;
    font-size: 1.2em;
    @include serif;
    margin-top: 0.1em;
    width: 22%;

    ul {
        margin: 0;
    }

    a {
        border-bottom: 1px solid desaturate(#e2ddd6, 20);
        color: #999;
        cursor: pointer;
        display: block;
        margin: 0;
        padding: 0.8em 0.3em;
        text-decoration: none;

        &:hover {
            color: darken(#999, 10);
        }
    }

    .selected {
        a {
            border-bottom-color: desaturate(darken(#e2ddd6, 15), 20);
            color: darken(#999, 30);
            font-weight: 600;
        }
    }
}