.browser-icon,
.read-later {
    padding-top: 0.9em;

    label {
        display: inline-block;
        position: relative;
        text-align: center;

        img {
            border: 1px solid #cecece;
            border-radius: 2px;
            display: block;
        }

        span {
            background-color: #eeeeee;
            border-radius: 1em;
            border: 1px solid #cecece;
            display: inline-block;
            padding: 0.2em 0.7em 0.2em 0.3em;
            position: relative;
            top: -1.2em;
        }

        input {
            margin: 0;
        }
    }
}

.browser-icon {
    .radio {
        display: inline-block;

        &:last-child {
            margin-left: 3em;
        }
    }
}

.read-later {
    margin-top: 1.6em;

    label span {
        padding: 0.25em 0.7em 0.25em 0.7em;
    }
}

.contact-list {
    padding: 0.5em 0.5em 0 1.2em;

    li {
        list-style-type: circle;
        padding: 0.25em 0;
    }
}

.app-version {
    margin: 0.4em 0 3.5em 0;
    overflow: hidden;

    img {
        display: inline-block;
        float: left;
        margin-right: 0.8em;
    }

    h3 {
        font-size: 1.3em;
        margin-bottom: 0.4em;
        padding-top: 0.2em;
    }
}