.DS_Store
.test
/alfred/Alfred.alfredpreferences/workflows/
*.log*
linux/radiotray/*
!linux/radiotray/bookmarks.xml
!linux/radiotray/readme.md

linux/openbox/*
!linux/openbox/rc.xml
!linux/openbox/autostart
