// Actions at the bottom of the popup: Reading List, Share, Options
.actions-secondary {
    background-color: darken(#fbfbfb, 2);
    border-top: 1px solid darken(#eee, 5);
    @include clearfix;
    padding: 0.35em 0.6em 0.35em 0.6em;

    li {
        float: left;
        height: 22px;
        margin-right: 0.5em;
        overflow: hidden;
        text-indent: -30em;
        width: 22px;
    }

    a {
        border-radius: 3px;
        cursor: pointer;
        display: block;
        height: 22px;
        outline: none;
        width: 100%;

        &:hover,
        &:focus {
            background-color: rgba(#9a958c, 0.15);
            outline: none;
        }
    }

    .reading-list a {
        background-position: 3px -102px;
    }

    .sharing a {
        background-position: 4px -126px;
    }

    .options {
        float: right;
        margin-right: 0;

        a {
            background-image: none;
        }

        span {
            background-position: 4px -151px;
            display: block;
            height: 22px;
            @include rotate(0deg);
            @include transition-property("transform");
            @include transition-duration(0.6s);
        }

        &:hover {
            span {
                @include rotate(110deg);
            }
        }
    }
}