// Shared styles between main and secondary actions
.actions-main,
.actions-secondary {
    a,
    .options span {
        background: transparent image-url("icons-sprite.png") no-repeat;

        @include high-dpi {
            background-image: image-url("icons-sprite@2x.png");
            @include background-size("16px 169px");
        }
    }
}

.no-url-error {
    box-sizing: border-box;
    font-size: 1.1em;
    line-height: 1.45em;
    padding: 1.6em 1.2em 0 1.2em;
    position: absolute;
    text-align: center;
    width: 100%;
}