[data-view=sendToKindle] {
    .container {
        width: 25em;
    }
}

.kindle {
    @extend %dark-ui;

    .content {
        padding: 1.4em 1.6em 0.6em 1.6em;
    }

    .instructions {
        @extend %dark-ui-msg;
        font-size: 1.1em;
        line-height: 1.4;
        padding: 8px 10px;

        input {
            -webkit-appearance: none;
            background-color: transparent;
            border: 0;
            color: #fff;
            cursor: text;
            display: inline-block;
            @include serif;
            -webkit-font-smoothing: antialiased;
            font-size: 1.1em;
            font-style: italic;
            // This sucks. There seems to be no way to remove the extra space
            // after the value?
            margin: 0 -2em 0 0;
            padding: 0;
            width: auto;
        }

        a {
            border-bottom: 1px solid rgba(#fff, 0.5);
            color: #fff;
            text-decoration: none;

            &:hover,
            &:focus {
                border-bottom-color: #fff;
                outline: none;
            }
        }
    }
}

.kindle-form {
    @extend %dark-ui-form;

    .single-input-container {
        padding: 0;
    }
}

.kindle-email-addr {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    @include box-sizing("border-box");
    margin: 0;
    overflow: hidden;

    [type=text] {
        background-color: transparent;
        border: 0;
        float: left;
        margin: 0;
        padding-right: 0.1em;
        text-align: right;
        width: 49.5%;

        &:focus {
            border: 0;
            box-shadow: 0 0 0 transparent;
        }
    }

    span {
        background-color: transparent;
        @include box-sizing("border-box");
        float: right;
        display: block;
        position: relative;
        width: 50%;

        &::after {
            background: transparent image-url("icon-select-arrows@2x.png") no-repeat center center;
            @include background-size("6px 12px");
            content: "";
            display: block;
            height: 2.4em;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 2.6em;

        }

        select {
            -webkit-appearance: none;
            background-color: transparent;
            border: 0;
            border-radius: 0;
            cursor: pointer;
            @include serif;
            font-size: 1em;
            margin: 0;
            padding: 0.6em 0.5em 0.6em 0;
            vertical-align: middle;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }
}