/* see the function convertVariableStylesToAuthorStylesheets in init.js for the reasoning of this file */
#evernoteFilingTools {
  height: 501px !important;
  top: 0 !important;
}

#evernoteGlobalTools {
  width: 154px !important;
}
#evernoteGlobalTools.hidable {
  width: 172px !important;
}

#evernoteShareTools {
  height: 98px !important;
}

#evernoteOptionsPage {
  height: 755px !important;
  top: -webkit-calc(50% - 377px) !important;
}

#evernoteClearlyArticle {
  height: 100% !important;
  left: -100% !important;
  top: -100% !important;
}