#switcher {
  color: #C2CFD7;
  cursor: pointer;
  display: none;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  margin-bottom: 14px;
  outline: none;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#switcher.visible {
  display: inline-block;
}
#switcher:after {
  background-image: url(../../images/forward.png);
  background-size: 16px 16px;
  content: "";
  height: 16px;
  position: absolute;
  right: -21px;
  top: 1px;
  width: 16px;
}

#globalError {
  background-color: #262C32;
  background-image: url(../../images/error-clip.png);
  background-position: 28px 5px;
  background-size: 16px 16px;
  border-bottom: 1px solid #21262C;
  border-top: 1px solid #21262C;
  color: white;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 0 0 15px -28px;
  overflow: hidden;
  padding: 8px 28px 8px 49px;
  width: -webkit-calc(100% - 21px);
}
#globalError:empty {
  display: none;
}
#globalError button {
  color: black;
  float: right;
  font-size: 12px;
  padding: 3px 6px;
}

input {
  max-width: 251px;
  width: 251px;
}

#username {
  margin-bottom: 18px;
}

#simsearch .checkbox, #simsearch .label {
  display: inline-block;
  vertical-align: top;
}
#simsearch .checkbox {
  background-color: #737F89;
  border: 1px solid #21262C;
  border-radius: 3px;
  cursor: pointer;
  height: 16px;
  outline: none;
  width: 16px;
}
#simsearch .checkbox.checked {
  background-image: url(../../images/checkmark.png);
  background-position: 2px 4px;
  background-size: 12px 10px;
}
#simsearch .label {
  color: #C2CFD7;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 26px;
  padding-left: 3px;
  padding-top: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  width: -webkit-calc(100% - 25px);
}
#simsearch .label .help {
  background-image: url(../../images/question-mark.png);
  background-size: 15px 15px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin-left: 5px;
  position: relative;
  vertical-align: middle;
  width: 15px;
}
#simsearch .label .help:hover:before {
  background-color: #FAFAFA;
  border: 1px solid #21262C;
  border-radius: 3px;
  bottom: 24px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  color: #3A4045;
  content: attr(data-tooltip);
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  left: -81px;
  line-height: 13px;
  padding: 5px 7px;
  position: absolute;
  text-shadow: none;
  width: 168px;
}
#simsearch .label .help:hover:after {
  background-image: url(../../images/login_simsearch_tooltip_arrow.png);
  background-repeat: no-repeat;
  background-size: 30px 15px;
  bottom: 10px;
  content: "";
  height: 15px;
  left: -8px;
  position: absolute;
  width: 30px;
}

#login {
  background-color: #26B064;
  box-shadow: inset 0 1px #33CC78;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  outline: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#reg {
  background-color: #209BC9;
  box-shadow: inset 0 1px #48C0ED;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 13px;
  outline: none;
}
#forgotPw {
  color: #C2CFD7;
  cursor: pointer;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 11px;
  height: 14px;
  line-height: 14px;
  outline: none;
  overflow: hidden;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  #switcher:after {
    background-image: url(../../images/forward@2x.png);
  }
  #globalError {
    background-image: url(../../images/error-clip@2x.png);
  }
  #simsearch .checkbox.checked {
    background-image: url(../../images/checkmark@2x.png);
  }
  #simsearch .label .help {
    background-image: url(../../images/question-mark@2x.png);
  }
  #simsearch .label .help:hover:after {
    background-image: url(../../images/login_simsearch_tooltip_arrow@2x.png);
  }
}