$bgColor: rgba(#000, 0.8);
$tipSize: 6px;

.share {
    background-color: $bgColor;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(#000, 0.4);
    @include box-sizing("border-box");
    color: darken(#fff, 12%);
    display: block;
    left: 1.5%;
    opacity: 1;
    padding: 0.4em 0.6em;
    position: absolute;
    text-align: center;
    top: 4px;
    @include transition-property("top opacity");
    @include transition-duration(0.1s);

    // May need to tweak these
    height: 115px;
    width: 97%;
    z-index: 100;

    &::before {
        bottom: -$tipSize;
        border-right: $tipSize solid transparent;
        border-top: $tipSize solid $bgColor;
        border-left: $tipSize solid transparent;
        content: "";
        display: inline-block;
        left: 15%;
        position: absolute;
    }

    &.hidden {
        opacity: 0;
        top: 120%;
        -moz-transform: scaleX(0.25) translateX(-100px);
        -o-transform: scaleX(0.25) translateX(-100px);
        -webkit-transform: scaleX(0.25) translateX(-100px);
        transform: scaleX(0.25) translateX(-100px);
        visibility: hidden;
    }

    a {
        color: #fdfdfd;
    }

    .reading-article {
        position: relative;
        top: 28%;

        p {
            margin-top: 0.5em;
        }
    }
}