/* popup.js */
body { font:bold 9px arial,sans-serif; }
h1 { font:bold 16px arial,sans-serif; }
h2 { font:bold 16px arial,sans-serif; }
#closeButton {	font:bold 14px arial,sans-serif;	cursor: hand; text-align:right; }
#qrCodePlaceHolder {}
#sharePlaceHolder { font:bold 12px arial,sans-serif; }
#shareContainer {	border-top-style:dashed; border-width:1px; margin-bottom:10px;}
#shareContainerTitle { padding-bottom:10px;}
/*#fileSavePlaceHolder { margin-bottom:5px; cursor: hand; display: table-cell;vertical-align: middle } }*/
#imgFileSave {}


/* options.js*/
/*#imgSizeButtonSelection { width:150px; font:bold 12px arial,sans-serif; }*/
/*#imgPrev { border:1px solid #000000; }*/
#content { width: 640px; margin-left: auto; margin-right: auto; clear:both; }
#bitlySettings { float:left;width:40%; }
#bitlyHeader { font:bold 14px arial,sans-serif; text-indent:25px;display:inline; }
#bitlyInputHeader { font:bold 12px arial,sans-serif;display:inline;  }
/*#imgSizeButtonSelection { float:left;width:60%; }*/
#sizePreviewHeader { font:bold 12px arial,sans-serif; text-indent:25px; }
/*#imgSizeButtonSelection { outline-style:dashed; outline-width:1px; }*/
#statusMess { color:red; }

/* Debug */
#statusMessageHolder { color:red; }
