body {
    @include serif;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    position: relative;
    text-align: center;
}

$standardWidth: 140;

.indicator {
    background-color: rgba(#000, 0.8);
    box-shadow: inset 0 0 1px rgba(#fff, 0.8), 0 3px 5px rgba(#000, 0.6);
    border: 1px solid rgba(#000, 0.9);
    border-top: 0;
    border-radius: 0 0 6px 6px;
    @include box-sizing("border-box");
    color: #f1f1f1;
    height: 110px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    top: 0;
    @include transition-property("top, width, height");
    @include transition-duration(0.1s);
    width: #{$standardWidth}px;

    &.hidden {
        display: block;
        top: -10em;
    }

    &[data-action=rootUrlWarning],
    &[data-action=error] {
        height: 260px;
        width: 310px;

        &.hidden {
            top: -18em;
        }
    }

    & > div:not(.loader) {
        box-sizing: border-box;
        display: block;
        height: 100%;
        opacity: 0;
        padding-top: 0.8em;
        position: absolute;
        top: 0;
        @include transition-property("opacity");
        @include transition-duration(0.2s);
        width: 100%;
        z-index: 1;
    }

    .blacklist-error {
        padding-top: 1.6em;
    }

    .timeout-error {
        padding-top: 0.7em;
    }

    &[data-action=readNow] .read-now,
    &[data-action=readLater] .read-later,
    &[data-action=sendToKindle] .send-to-kindle,
    &[data-action=rootUrlWarning] .root-url,
    &[data-action=error] .error-msg {
        opacity: 1;
        z-index: 2;
    }

    &.ready .working,
    &.ready .loader,
    &[data-action=error] .working,
    &[data-action=error] .loader,
    &[data-action=rootUrlWarning] .loader,
    .ready,
    .blacklist-error,
    .timeout-error {
        display: none;
    }

    &[data-status=blacklisted] {
        .blacklist-error {
            display: block;
            z-index: 10;
        }

        div.standard-error {
            display: none;
            z-index: 1;
        }

        .timeout-error {
            display: none;
            z-index: 2;
        }
    }

    &[data-status=timeout] {
        .timeout-error {
            display: block;
            z-index: 10;
        }

        div.standard-error {
            display: none;
            z-index: 1;
        }

        .blacklist-error {
            display: none;
            z-index: 2;
        }
    }


    &.ready .ready {
        display: block;
    }

    h1 {
        background: transparent image-url("indicator-couch@2x.png") no-repeat center top;
        background-size: 70px 52px;
        font-size: 0.9em;
        font-weight: normal;
        letter-spacing: 0.1em;
        line-height: 1.3;
        padding: 60px 0.1em 0 0.1em;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(#000, 1);
    }

    p {
        color: darken(#fff, 10);
        font-size: 0.9em;
        line-height: 1.5;
        padding: 0.5em 0;
    }
}

.loader {
    background-color: rgba(#000, 0.9);
    border-radius: 2px;
    bottom: 6px;
    box-shadow: 0 1px 0 rgba(#fff, 0.1);
    height: 3px;
    left: 6px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    width: #{$standardWidth - 14}px;

    b {
        @include background(linear-gradient(left, rgba(darken(#fff, 8), 0), darken(#fff, 8)));
        border-radius: 6px;
        box-shadow: inset 0 1px 0 rgba(#000, 0.4);
        display: block;
        left: -120%;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    &.animate b {
        -webkit-animation: loader 1.1s linear infinite;
        animation: loader 1s infinite;
    }
}

@mixin loader-keyframes {
    to {
        left: 120%;
    }
}

@-webkit-keyframes loader {
    @include loader-keyframes;
}

@keyframes loader {
    @include loader-keyframes;
}

.root-url,
.error-msg {
    padding: 0.9em;
}

.root-url,
.error-msg {
    h1 {
        border-bottom: 1px solid rgba(#f1f1f1, 0.4);
        margin-bottom: 0.4em;
        padding-bottom: 0.5em;
    }
}

.controls {
    text-align: center;

    button {
        border: 0;
        display: inline-block;
        @include serif;
        font-size: 0.8em;
    }
}

.confirm {
    @extend %green-button;
    width: 70%;
}

.cancel {
    @extend %grey-button;
    width: 28%;
}