%dark-ui {
    @include box-sizing("border-box");
    color: darken(#fff, 12%);

    .content {
        padding: 1.1em 1em 0.8em 1.1em;
        position: relative;
        @include transition-property("opacity, left");
        @include transition-duration(0.4s);
        z-index: 2;

        &.hidden {
            display: block;
            opacity: 0;
        }
    }

    h1 {
        display: block;
        font-size: 0.9em;
        font-weight: 500;
        letter-spacing: 0.095em;
        margin-bottom: 0.5em;
        text-indent: 2px;
        text-transform: uppercase;
    }

    .working-cover {
        background-color: rgba(#000, 0.6);
    }
}

%dark-ui-msg {
    background-color: rgba(#000, 0.3);
    border: 1px solid rgba(#000, 0.3);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(#fff, 0.08);
    @include box-sizing("border-box");
    display: inline-block;
    font-style: italic;
    margin-bottom: 0.3em;
    padding: 4px;

    &.hidden {
        display: none;
    }
}

%dark-ui-form {
    fieldset {
        // Padding this just a bit because even though it's the same width as
        // the tag list it looks wider because it is brighter in color.
        padding: 0 0.1em;
    }

    .single-input-container {
        padding: 0.1em 0 0.3em 0;
    }

    [type=submit],
    .cancel {
        border: 0;
    }

    [type=submit] {
        @extend %green-button;
    }

    // Info, error, or confirmation messages for the field.
    .field-messages {
        clear: both;
        font-size: 0.9em;
        opacity: 1;
        padding: 0.1em;
        position: relative;

        li {
            line-height: 1.2;
        }

        .error {
            color: #fee853;
        }
    }
}