// A slightly modified Meyer reset
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address,
del, dfn, em, img, q,
small, strike, strong, sub, sup,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

sub {
    font-size: 80%;
    vertical-align: sub;
}

sup {
    font-size: 80%;
    vertical-align: super;
}

small {
    font-size: 80%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i, em, mark {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6,
b, strong, mark {
    font-weight: 600;
}

.hidden {
    display: none;
}

mark {
    background-color: transparent;
    color: inherit;
}