<p class="no-url-error hidden">
    Sorry, Readability won't be able to parse this page because it doesn't have
    a valid URL.
</p>

<ul class="actions-main">
    <li data-action="readNow"
        class="read-now">
        <span class="loading-indicator"></span>
        <a href="">Read Now</a>
    </li>

    <li data-action="readLater"
        class="read-later">
        <span class="loading-indicator"></span>
        <a href="">Read Later</a>
    </li>

    <li data-action="sendToKindle"
        class="send-to-kindle">
        <span class="loading-indicator"></span>
        <a href="">Send to Kindle</a>
    </li>
</ul>

<ul class="actions-secondary">
    <li class="reading-list" title="Go to your Reading List">
        <a href="{{siteRoot}}/reading-list" target="_blank">Reading List</a>
    </li>
    <li class="options" title="Readability Options">
        <a href="options.html" target="_blank"><span>Options</span></a>
    </li>
</ul>
