<h1 class="log-in-heading">Log In</h1>
<div class="content-container">
    <div class="working-cover hidden">
        <div class="loading-indicator">
            Loading...
        </div>
    </div>
    <form method="post" class="form" action="" novalidate>
        <div class="social-method">
            <a href="{{siteRoot}}/socialauth/login/facebook/" target="_blank" class="facebook-connect-btn">
                Connect with Facebook
            </a>
        </div>
        <fieldset>
            <h3 class="method-separator">or with your username/password</h3>
            <div class="msg error hidden">
                <p></p>
            </div>
            <div>
                <label for="login-username">
                    Username or Email:
                    <a href="{{siteRoot}}/username/reminder/" tabindex="-1"
                        target="_blank">Reminder?</a>
                </label>
                <input id="login-username" type="text" name="username"
                    spellcheck="false" autocapitalize="off" required>
                <b class="field-msg error hidden">&nbsp;</b>
            </div>

            <div>
                <label for="login-password">
                    Password:
                    <a href="{{siteRoot}}/password/reset/" tabindex="-1"
                        target="_blank">Reset?</a>
                </label>
                <input id="login-password" type="password" name="password" required>
                <b class="field-msg error hidden">&nbsp;</b>
            </div>

            <div class="form-controls">
                <input class="cancel" type="button" value="Cancel">
                <input type="submit" value="Log In">
            </div>
        </fieldset>
        <footer class="form-footer">
            <p>
                Don't have an account? <a href="#" class="signup">Sign up</a>
            </p>
        </footer>
    </form>
</div>