<div class="working-cover hidden">
    <div class="loading-indicator light-on-dark">
        Loading...
    </div>
</div>
<div class="content">
    <h1>Set up <i>&amp;</i> Send to your Kindle</h1>
    <div class="instructions">
        <p>
            First, add <input type="email" value="kindle@readability.com" readonly>to your Kindle
            <a href="https://www.amazon.com/gp/digital/fiona/manage?ie=UTF8&*Version*=1&*entries*=0&#pdocSettings" target="_blank">approved email list</a>.
        </p>
    </div>
    <form class="kindle-form form" action="" novalidate>
        <fieldset>
            <div>
                <div class="single-input-container kindle-email-addr">
                    <input type="text" name="username" placeholder="Kindle email address" autocomplete="off"
                        autocorrect="off" autocapitalize="off" required>

                    <span>
                        <select name="domain">
                            <option value="@kindle.com">@kindle.com</option>
                            <option value="@free.kindle.com">@free.kindle.com</option>
                            <option value="@kindle.cn">@kindle.cn</option>
                        </select>
                    </span>
                </div>
                <b class="field-msg error hidden" data-error="general">We ran into an error sending to your Kindle. Mind trying again?</b>
                <b class="field-msg error hidden" data-error="required">Please fill in this field.</b>
            </div>
            <div class="form-controls">
                <input class="cancel" type="button" value="Cancel">
                <input type="submit" value="Set up &amp; Send">
            </div>
        </fieldset>
    </form>
</div>