{{^article}}
<div class="reading-article">
    <div class="loading-indicator light-on-dark">
        Loading...
    </div>
    <p>Reading article&hellip;</p>
</div>
{{/article}}

{{#article}}
<input type="text" class="short-url" value="http://rdd.me/jzxcwrfw">
<ul class="share-options">
    <li>
        <a class="share-facebook"
            href="http://www.facebook.com/sharer.php?u={{encodedUrl}}&amp;t={{fbTitle}}"
            title="Share this article on Facebook"
            data-stat="chrome-share-facebook">
            Share on Facebook
        </a>
    </li>
    <li>
        <a class="share-twitter"
            href="https://twitter.com/intent/tweet?via=readability&amp;text={{tweetText}}&amp;url={{encodedUrl}}"
            title="Share this article on Twitter"
            data-stat="chrome-share-twitter">
            Share on Twitter
        </a>
    </li>
    <li>
        <a class="share-email" href="#"
            title="Email this article"
            data-stat="chrome-share-email">
            Email article
        </a>
    </li>
</ul>
{{/article}}