<h1 class="sign-up-heading">Sign Up</h1>
<div class="content-container">
    <form method="post" class="form" action="">
        <div class="social-method">
            <a href="{{siteRoot}}/socialauth/login/facebook/" target="_blank" class="facebook-connect-btn">
                Connect with Facebook
            </a>
        </div>
        <fieldset>
            <h3 class="method-separator"><span>or</span></h3>
            <div>
                <a href="{{siteRoot}}/signup" target="_blank" class="signup-btn">
                    Using Your Email
                </a>
            </div>
        </fieldset>
        <footer class="form-footer">
            <p>
                Already have an account? <a href="#" class="login">Log in</a>
            </p>
        </footer>
    </form>
</div>