<form method="post" class="form" action="">
    <fieldset>
        <div class="msg info">
            <p>
                We know how it goes, we forget these things too. Enter your email address and
                we'll send you a reminder.
            </p>
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" type="text" name="email"
                spellcheck="false" autocapitalize="off" required>
            <b class="error hidden">&nbsp;</b>
        </div>

        <div class="form-controls">
            <input class="cancel" type="button" value="Cancel">
            <input type="submit" value="Send reminder">
            <p class="note">
                Need a <a href="#">password</a> reset?
            </p>
        </div>
    </fieldset>
    <aside>
        <p>
            <a href="#" class="login">Log in</a> | <a href="#" class="signup">Sign up</a>
        </p>
    </aside>
</form>