body {
  background-color: #FAFAFA;
  color: #3F474C;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin: 0;
}

#version {
  border-bottom: 1px solid #CACACA;
  font-size: 10px;
  line-height: 28px;
  padding-left: 15px;
  white-space: nowrap;
}

#tutorial, #options, #logout, #premium {
  background-position: 13px 50%;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  line-height: 24px;
  overflow-x: hidden;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
  padding-left: 46px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tutorial:hover, #options:hover, #logout:hover {
  background-color: #E7EDF1;
  border: 1px solid #B7C3CB;
}

#tutorial {
  background-image: url(../../images/tutorial.png);
  background-size: 16px 16px;
  margin-top: 14px;
}

#options {
  background-image: url(../../images/options.png);
  background-size: 16px 16px;
}

#logout {
  background-image: url(../../images/sign_out.png);
  background-size: 21px 14px;
  margin-bottom: 14px;
}

#premium {
  background-color: #6D7880;
  background-image: url(../../images/premium.png);
  background-position: 9px 50%;
  background-size: 24px 26px;
  border: 1px solid #404A51;
  color: #FAFAFA;
  cursor: pointer;
  display: none;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 11px;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
}
#premium.visible {
  display: block;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  #tutorial {
    background-image: url(../../images/tutorial@2x.png);
  }
  #options {
    background-image: url(../../images/options@2x.png);
  }
  #logout {
    background-image: url(../../images/sign_out@2x.png);
  }
  #premium {
    background-image: url(../../images/premium@2x.png);
  }
}