#evernoteClipperResult {
  -webkit-animation-duration: 300ms !important;
  -webkit-animation-name: fadein !important;
  left: auto !important;
  right: 20px !important;
  top: 20px !important;
  -webkit-transition: height 200ms linear !important;
  width: 458px !important;
  border: none !important;
  z-index: 2147483647 !important;
  -webkit-user-select: none !important;
  position: fixed !important;
  visibility: visible !important;
  bottom: auto !important;
  margin: 0 !important;
  max-height: none !important;
  min-height: 0 !important;
  max-width: none !important;
  min-width: 0 !important;
  padding: 0 !important;
  outline: invert none medium !important;
  vertical-align: baseline !important;
  resize: none !important;
  box-sizing: content-box !important;
  box-shadow: none !important;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#evernoteClipperResult.hide {
  -webkit-animation-name: fadeout !important;
  opacity: 0;
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}