body {
  font-size: 11px;
  font-style: normal;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

* {
  background-repeat: no-repeat;
  color: inherit;
  font: inherit;
  text-shadow: inherit;
  -webkit-font-smoothing: inherit;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

.tab {
  cursor: pointer;
  display: inline-block;
  height: 26px;
  vertical-align: top;
}
.tab.pressed {
  background-image: url(../images/clip_result_arrow.png);
  background-size: 16px 8px;
}

.pinch {
  background-color: #2F373D;
  border-top: 1px solid #272D33;
  border-bottom: 1px solid #272D33;
  margin-top: -1px;
}

input[type=radio], input[type=checkbox] {
  display: none;
}
label {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
input[type=radio] + label:before {
  background-image: url(../images/radio.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
}
input[type=radio]:checked + label:before {
  background-image: url(../images/radio-dot.png), url(../images/radio.png);
  background-position: 5px, 0;
  background-size: 6px 7px, 16px 16px;
}
input[type=radio] + label {
  height: 16px;
  line-height: 16px;
}

input[type=checkbox] + label:before {
  background-color: #737F89;
  border: 1px solid #232A31;
  border-radius: 4px;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
}
input[type=checkbox]:checked + label:before {
  background-image: url(../images/checkmark-big.png);
  background-position: 50% 5px;
  background-repeat: no-repeat;
  background-size: 14px 12px;
}
input[type=checkbox] + label {
  height: 22px;
  line-height: 22px;
}

select {
  background-color: white;
  background-image: url(../images/icon_down_padded.png);
  background-position: -webkit-calc(100% - 10px) 50%;
  background-size: 8px 5px;
  border: 1px solid #232A30;
  border-radius: 3px;
  color: #3A4045;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: 0 28px 0 10px;
  text-shadow: none;
  -webkit-appearance: button;
}

@font-face {
  font-family: "CaeciliaBold";
  src: url(../fonts/caecilialtstd-bold-webfont.woff) format('woff');
}
@font-face {
  font-family: "CaeciliaRoman";
  src: url(../fonts/caecilialtstd-roman-webfont.woff) format('woff');
}
@font-face {
  font-family: "GothamBook";
  src: url(../fonts/GothamSSm-Book.otf) format('opentype');
}
@font-face {
  font-family: "GothamMedium";
  src: url(../fonts/GothamSSm-Medium.otf) format('opentype');
}
@font-face {
  font-family: "GothamBold";
  src: url(../fonts/GothamSSm-Bold.otf) format('opentype');
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  .tab.pressed {
    background-image: url(../images/clip_result_arrow@2x.png);
  }
  input[type=radio] + label:before {
    background-image: url(../images/radio@2x.png);
  }
  input[type=radio]:checked + label:before {
    background-image: url(../images/radio-dot@2x.png), url(../images/radio@2x.png);
  }
  input[type=checkbox]:checked + label:before {
    background-image: url(../images/checkmark-big@2x.png);
  }
  select {
    background-image: url(../images/icon_down_padded@2x.png);
  }
}