body {
  background-color: #E8F5F9;
  margin: 0;
  overflow: auto;
}
body.iframe #main {
  margin: 2px auto;
}
body.iframe #done {
  display: block;
}
body.iframe {
  background-color: transparent;
  overflow: hidden;
}
#main {
  background-color: #3C454C;
  border: 1px solid #272D33;
  border-radius: 6px;
  margin: 40px auto 20px auto;
  position: relative;
  width: 614px;
}
#main:before {
  background-clip: content-box;
  background-color: #272D33;
  border: 2px solid rgba(34, 40, 44, 0.38);
  border-radius: 6px;
  bottom: -3px;
  content: "";
  left: -3px;
  position: absolute;
  right: -3px;
  top: -3px;
  z-index: -1;
}

#logo {
  background-image: url(../images/clipboard.png), url(../images/evernote_web_clipper.png);
  background-position: 0, 58px 50%;
  background-size: 58px 58px, 134px 36px;
  height: 58px;
  margin: 4px 0 0 12px;
}
#logo.china {
  background-image: url(../images/clipboard.png), url(../images/evernote_web_clipper_china.png);
  background-position: 0, 58px 11px;
  background-size: 58px 58px, 48px 47px;
}

#tabs {
  padding: 5px 24px 0 24px;
}
.tab {
  color: #82919D;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.tab.pressed {
  color: white;
}
.tab:first-child {
  padding-right: 34px;
}
.tab:last-child {
  padding-left: 34px;
}
#optionsTab {
  background-position: -webkit-calc(50% - 17px) 100%;
}
#shortcutsTab {
  background-position: 50% 100%;
}
#legalTab {
  background-position: -webkit-calc(50% + 17px) 100%;
}

.pinch {
  overflow: hidden;
  padding: 20px 0 25px 0;
  white-space: nowrap;
}
.pinch > div {
  display: inline-block;
  position: relative;
  -webkit-transition: left 200ms ease;
  vertical-align: top;
  width: 614px;
}
.pinch.options > div {
  left: 0;
}
.pinch.shortcuts > div {
  left: -614px;
}
.pinch.legal > div {
  left: -1228px;
}

.row {
  padding: 10px 0;
}
.row:first-child {
  padding-top: 0;
}
.row:last-child {
  padding-top: 16px;
  padding-bottom: 0;
}

.col1, .col2 {
  color: #A2AEB5;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.col1 {
  float: left;
  padding-left: 24px;
  width: 194px;
}
.col1.short {
  width: 191px;
}
.col2 {
  overflow: hidden;
}

.radio {
  padding: 6px 0;
}
.radio:first-child {
  padding-top: 0;
}
.radio:last-child {
  padding-bottom: 0;
}
input[type=radio] + label:before {
  margin-right: 36px;
}
.checkbox {
  padding: 6px 0;
}
.checkbox:first-child {
  padding-top: 0;
}
.checkbox:last-child {
  padding-bottom: 0;
}
input[type=checkbox] + label:before {
  margin-right: 33px;
}

#bizSmartFilingCheckbox {
  display: none;
  margin-bottom: 8px;
  margin-left: 52px;
}
#bizSmartFilingCheckbox input + label:before {
  margin-right: 10px;
}

#useSearchHelper + label, #simulateSimplifiedChinese + label, #useStage + label {
  height: 42px;
  line-height: normal;
  white-space: normal;
}
input[type=checkbox] + label span {
  display: inline-block;
  font-family: "GothamBook", Helvetica, Arial, sans-serif;
  padding: 0 24px 0 55px;
  position: relative;
  top: -28px;
}

input[type=text] {
  border: 1px solid #232A30;
  border-radius: 3px;
  color: #3A4045;
  height: 24px;
  line-height: 11px;
  outline: none;
  padding: 0 7px;
  text-shadow: none;
  width: 152px;
}
#shortcutsContainer.disabled input[type=text] {
  background-color: #414C55;
  color: #576876;
}
#alwaysTags {
  float: right;
  margin: 0 24px 0 0;
}
#alwaysTags::-webkit-input-placeholder {
  padding: 2px 0;
}

.checkbox.hasInput, .radio.hasInput {
  height: 26px;
  padding-top: 4px;
}
.hasInput label {
  height: 26px !important;
  line-height: 26px !important;
}
.hasInput label:before {
  position: relative;
  top: 2px;
}

select {
  width: 168px;
}
#clipAction {
  float: right;
  margin-right: 24px;
}

#clientSelectionDescription {
  display: none;
  padding: 0 24px 0 52px;
  white-space: normal;
}

#readingSpeed, #voice {
  margin-top: 7px;
}
#readingSpeed {
  margin-bottom: 17px;
}

body.safari #logsRow {
  display: none;
}
[message='options_eventLogDescription'] {
  padding-right: 24px;
  white-space: normal;
}
#copyLogs {
  border: 1px solid #209BC9;
  border-radius: 3px;
  color: #209BC9;
  cursor: pointer;
  display: inline-block;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  line-height: 26px;
  margin-top: 10px;
  padding: 0 10px;
  text-shadow: none;
}

#footer {
  padding: 17px 24px;
}
#copyright, #versionInfo {
  color: #A2AEB5;
  font-family: "GothamBook", Helvetica, Arial, sans-serif;
  overflow: hidden;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#done {
  background-color: #26B064;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgb(51, 204, 120);
  color: white;
  cursor: pointer;
  display: none;
  float: right;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  line-height: 26px;
  padding: 0 15px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* developer options */
h2 {
  color: white;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

/* saving */
#savingContainer {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 250ms linear;
  width: 100%;
  z-index: 1;
}
#saving {
  background-clip: padding-box;
  background-color: white;
  background-image: url(../images/options_saving.gif);
  background-position: 45px 50%;
  background-size: 30px;
  border: 4px solid rgba(255, 255, 255, 0.20);
  border-radius: 2px;
  color: #6D7880;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 58px;
  margin: 0 auto;
  padding: 0 45px 0 75px;
  position: relative;
  top: -webkit-calc(50% - 49px);
  width: 52px;
}
#savingContainer.invisible {
  visibility: hidden;
  opacity: 0;
}
#savingContainer.visible {
  visibility: visible;
  opacity: 1;
}

#optionsContainer, #shortcutsContainer, #licenseContainer {
  height: 100%;
  overflow: auto;
}
#optionsContainer {
  height: auto;
}

/* keyboard shortcuts */
#resetShortcuts {
  background-color: #5B6871;
  border-radius: 2px;
  box-shadow: inset 0 1px #6B7A86;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  line-height: 22px;
  margin-left: 24px;
  margin-top: 10px;
  padding: 0 8px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#shortcutsContainer .col1 {
  width: 274px;
}
#shortcutsContainer .row {
  line-height: 26px;
  padding: 4px 0;
}
#shortcutsContainer .row.header {
  height: 30px;
  line-height: normal;
  padding: 0;
}
#shortcutsContainer #clipShortcutsHeader, #shortcutsContainer #markupShortcutsHeader {
  height: 35px;
}
#shortcutsContainer .row.header .col1 {
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  float: none;
  line-height: 50px;
}
#shortcutsContainer #clipShortcutsHeader .col1, #shortcutsContainer #markupShortcutsHeader .col1 {
  line-height: 55px;
}
#shortcutsContainer .row:first-child {
  padding-top: 0;
}
#shortcutsContainer .row:last-child {
  padding-bottom: 0;
}
#shortcutsContainer input[type=text] {
  width: 132px;
}
.shortcutTooltip.col2:before {
  background-image: url(../images/tooltip-arrow-left.png);
  background-size: 8px 12px;
  content: "";
  height: 12px;
  position: absolute;
  right: 142px;
  width: 8px;
  z-index: 1;
}
.shortcutTooltip.col2:after {
  background-color: #FAFAFA;
  border: 1px solid #232A30;
  border-radius: 3px;
  color: #575757;
  content: attr(tooltip);
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 12px;
  padding: 5px 7px;
  position: absolute;
  right: 5px;
  text-shadow: none;
  white-space: normal;
  width: 122px;
}
.shortcutTooltip.error input {
  background-image: url(../images/error-clip.png);
  background-position: -webkit-calc(100% - 5px) 50%;
  background-size: 16px 16px;
}
.vanish:before, .vanish:after {
  opacity: 0;
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 200ms;
}
[message='cyclePreviews'] {
  line-height: normal;
  white-space: normal;
}

/* legal notices */
#licenseContainer {
  color: #A2AEB5;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.license {
  padding: 15px 24px 0 24px;
}
.license p, .license li {
  white-space: normal;
}
[message='legalNoticesTitle'] {
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0 24px;
}
strong {
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 11px;
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  #logo {
    background-image: url(../images/clipboard@2x.png), url(../images/evernote_web_clipper@2x.png);
  }
  #logo.china {
    background-image: url(../images/clipboard@2x.png), url(../images/evernote_web_clipper_china@2x.png);
  }
  #saving {
    background-image: url(../images/options_saving@2x.gif);
  }
  .shortcutTooltip.col2:before {
    background-image: url(../images/tooltip-arrow-left@2x.png);
  }
  .shortcutTooltip.error input {
    background-image: url(../images/error-clip@2x.png);
  }
}