<?xml version="1.0" encoding='UTF-8'?><root>
<gpick type="dynv">
<color_names type="dynv">
<imprecision_postfix type="bool">true</imprecision_postfix>
</color_names>
<generate_scheme type="dynv">
<hsv_shift type="float" list="true"><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li></hsv_shift>
<hue type="float">108.696</hue>
<lightness type="float">3.13725</lightness>
<saturation type="float">53.1381</saturation>
<type type="int32">2</type>
<wheel_locked type="bool">true</wheel_locked>
<wheel_type type="int32">0</wheel_type>
</generate_scheme>
<layout_preview type="dynv">
<css_selectors type="dynv">
<assignments type="dynv">
<menu_b type="dynv">
<color type="color">0.7 0.7 0.7 0</color>
</menu_b>
<navitem_b type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_b>
<navitem_bh type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_bh>
<navitem_t type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_t>
<navitem_th type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_th>
</assignments>
</css_selectors>
<layout_name type="string">std_layout_menu_1</layout_name>
</layout_preview>
<main type="dynv">
<close_to_tray type="bool">false</close_to_tray>
<color_source type="string">generate_scheme</color_source>
<minimize_to_tray type="bool">false</minimize_to_tray>
<paned_position type="int32">452</paned_position>
<secondary_color_source type="string">brightness_darkness</secondary_color_source>
<single_instance type="bool">false</single_instance>
<start_in_tray type="bool">false</start_in_tray>
<vertical_paned_position type="int32">367</vertical_paned_position>
<window type="dynv">
<height type="int32">590</height>
<width type="int32">695</width>
<x type="int32">846</x>
<y type="int32">250</y>
</window>
</main>
<options type="dynv">
<window type="dynv">
<height type="int32">352</height>
<width type="int32">230</width>
</window>
</options>
<picker type="dynv">
<contrast type="dynv">
<color type="color">1 1 1 0</color>
</contrast>
<expander type="dynv">
<cmyk type="bool">true</cmyk>
<hsl type="bool">true</hsl>
<hsv type="bool">false</hsv>
<info type="bool">true</info>
<lab type="bool">false</lab>
<rgb type="bool">false</rgb>
<settings type="bool">false</settings>
</expander>
<refresh_rate type="float">30</refresh_rate>
<sampler type="dynv">
<add_on_release type="bool">true</add_on_release>
<add_to_palette type="bool">true</add_to_palette>
<copy_on_release type="bool">true</copy_on_release>
<copy_to_clipboard type="bool">true</copy_to_clipboard>
<falloff type="int32">0</falloff>
<oversample type="int32">0</oversample>
<rotate_swatch_after_sample type="bool">false</rotate_swatch_after_sample>
</sampler>
<swatch type="dynv">
<active_color type="int32">2</active_color>
<color1 type="color">0.972549 0.972549 0.972549 0</color1>
<color2 type="color">0.866667 0.948571 0.973333 4.59163e-41</color2>
<color3 type="color">1 1 1 0</color3>
<color4 type="color">0.571429 0.571429 0.571429 0</color4>
<color5 type="color">0.854902 0.854902 0.854902 0</color5>
<color6 type="color">0.854902 0.854902 0.854902 0</color6>
</swatch>
<zoom type="float">2</zoom>
<zoom_size type="int32">150</zoom_size>
</picker>
<recent type="dynv">
</recent>
<secondary_view type="dynv">
<brightness_darkness type="dynv">
<brightness type="float">0.65625</brightness>
<color type="color">0.5 0.5 0.5 0</color>
<darkness type="float">0.65625</darkness>
</brightness_darkness>
</secondary_view>
</gpick>
</root>
