.tagging {
    @extend %dark-ui;

    h1 {
        background: transparent image-url("icon-tag@2x.png") no-repeat left top;
        @include background-size("10px 10px");
        padding-left: 11px;
    }
}

// Little message at the bottom to let the user know the popup is going to close
.closing-msg {
    background-color: rgba(#000, 0.3);
    font-size: 0.9em;
    opacity: 1;
    padding: 0.4em 1.2em;
    position: relative;
    text-align: right;
    @include transition-property("color");
    @include transition-duration(0.1s);
    @include transition-delay(0.2s);

    &.hidden {
        display: block;
        opacity: 0;
    }

    &.stopped {
        color: rgba(#fff, 0);
    }
}

// When displayed in and iframe, outside the popup
html[data-is-iframe] .tagging {
    .closing-msg {
        border-radius: 0 0 6px 6px;
    }
}