// Place these here so we don't have to inlcude the entire jquery ui CSS
// NOTE: I'm not a huge fan of having to use their classnames. Makes it a little
// brittle. I haven't been able to find a way to add a custom class to the el
.ui-autocomplete {
    background-color: rgba(#fff, 0.95);
    border: 1px solid #e1e1de;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 8px rgba(#000, 0.1);
    border-top: 0;
    @include serif;
    max-height: 98px;
    overflow: auto;
    position: absolute;

    a {
        color: #333;
        cursor: pointer;
        display: block;
        padding: 0.3em 0.6em;

        &.ui-state-focus,
        &:hover {
            background-color: saturate(lighten(#d3f4fd, 4), 6);
        }
    }
}

.no-opacity .ui-autocomplete {
    background-color: #fff;
}

.ui-helper-hidden-accessible {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}