// Element: <ul>
.tags-list {
    @extend %dark-ui-msg;

    li {
        color: darken(#E0E0E0, 20);
        display: inline-block;
        padding: 0.2em 1.1em 0.2em 0.2em;
        position: relative;

        &:hover {
            a {
                color: #e0e0e0;
            }

            .tag-delete {
                opacity: 1;
            }
        }
    }

    a {
        color: darken(#E0E0E0, 10);
        text-decoration: none;
        @include transition-property("color opacity");
        @include transition-duration(0.1s);

        &:hover {
            text-decoration: underline;
        }
    }

    .tag-delete {
        display: inline-block;
        font-size: 0.9em;
        opacity: 0.3;
        padding: 0 0.2em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0.45em;

        &:hover {
            color: #c90000;
            text-decoration: none;
        }
    }
}