body {
  font-size: 12px;
  margin: 0;
}

#main {
  background-clip: content-box;
  background-color: #3C454C;
  border: 2px solid rgba(34, 40, 44, 0.38);
  border-radius: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 454px;
}

#header {
  color: #FAFAFA;
  min-height: 30px;
  padding: 13px 16px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
body.done #header {
  padding-bottom: 14px;
}

#icon {
  background-image: url(../../images/sync_big.gif);
  background-size: 30px 30px;
  float: left;
  height: 30px;
  width: 30px;
}
body.done #icon {
  background-image: url(../../images/check.png);
  background-position: 0 50%;
  background-size: 23px 18px;
  width: 23px;
}

#text {
  overflow: hidden;
  padding-top: 7px;
  padding-left: 16px;
  position: relative;
}
body.done #text {
  padding-right: 24px;
}
#status {
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
}
#title {
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  position: relative;
}
#status:nth-child(2), #title:nth-child(2) {
  padding-left: 7px;
}

#reminders {
  background-image: url(../../images/reminder.png);
  background-position: 0 5px;
  background-size: 19px 21px;
  cursor: pointer;
  display: none;
  height: 37px;
  position: absolute;
  right: 16px;
  top: 13px;
  width: 19px;
  z-index: 2;
}
body.done #reminders {
  display: block;
}
#reminders.added {
  background-image: url(../../images/reminder_active.png);
}
#reminders.added.changingDate {
  background-image: url(../../images/reminder_active.png), url(../../images/reminders_arrow.png);
  background-position: 0 5px, 1px 29px;
  background-size: 19px 21px, 18px 8px;
}

#remindersSetter {
  background-color: #ECECEC;
  border: 1px solid #AFAFAF;
  border-radius: 4px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.3);
  color: #4C4C4C;
  height: 53px;
  opacity: 0;
  overflow: hidden;
  padding: 15px 8px 8px 8px;
  pointer-events: none;
  position: fixed;
  right: 8px;
  top: 51px;
  -webkit-transition: opacity 300ms ease, height 200ms ease, width 200ms ease;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 300ms;
  -webkit-transform-origin: -webkit-calc(100%  - 20px) 0;
  width: 112px;
  z-index: 1;
}
#remindersSetter.visible {
  opacity: 1;
  pointer-events: all;
  -webkit-animation-name: pulse;
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(0.3); }
  33% { -webkit-transform: scale(1.3); }
  67% { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1); }
}
#remindersSetter.hasDate #noDate {
  display: none;
}
#remindersSetter.hasDate #hasDate {
  display: block;
}
#remindersSetter.hasDate {
  height: 314px;
  padding: 12px;
  width: 166px;
}
.reminderHeader {
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  text-align: center;
  text-shadow: 0 1px white;
}
.reminderButton, #date {
  background-color: #FAFAFA;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-shadow: none;
}
.reminderButton {
  cursor: pointer;
  line-height: 26px;
  overflow: hidden;
  white-space: nowrap;
}
#addDate {
  background-image: url(../../images/calendar.png);
  background-position: 10px 50%;
  background-size: 21px 17px;
  margin-top: 10px;
  padding-left: 36px;
  padding-right: 7px;
}

#hasDate {
  display: none;
}

#hasDate .reminderButton {
  text-align: center;
}
#tomorrow {
  margin-top: 11px;
}
#nextWeek {
  margin-top: 4px;
}

#date {
  line-height: 20px;
  margin: 4px 0 8px 0;
  padding: 0 6px;
  width: -webkit-calc(100% - 14px);
}
#date span {
  border: 1px solid transparent;
  border-radius: 3px;
}
#date span.focused {
  background-color: #E7EDF1;
  border: 1px solid #B7C3CB;
}

#datePicker {
  background-color: #FAFAFA;
  border: 1px solid #D2D2D2;
  border-radius: 3px;
  text-shadow: none;
}

#edit, #close {
  background-color: #5B6871;
  border-radius: 2px;
  box-shadow: inset 0 1px #6B7A86;
  color: white;
  cursor: pointer;
  display: none;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
body.done #edit, body.done #close {
  display: inline-block;
}
body.done.noSmart #close {
  margin-top: 27px;
}

#edit {
  line-height: 22px;
  margin-left: 52px;
  padding: 0 8px;
  text-decoration: none;
  vertical-align: middle;
}

#notebook {
  background-image: url(../../images/notebook-clip-result.png);
  background-position: 0 50%;
  background-size: 12px 14px;
  color: #FAFAFA;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  margin-left: 15px;
  margin-right: 16px;
  overflow: hidden;
  padding-left: 17px;
  text-overflow: ellipsis;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  white-space: nowrap;
}
#notebook:empty {
  display: none !important;
}
body.done #notebook {
  display: inline-block;
}

#smart {
  display: none;
  padding-top: 20px;
  position: relative;
}
body.done #smart {
  display: block;
}
body.done.noSmart #smart {
  display: none;
}

#tabs {
  padding: 0 12px;
}
.tab {
  color: #82919D;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.tab.pressed {
  color: #E4EBF0;
}
.tab:first-child {
  padding-right: 30px;
}
.tab:last-child {
  padding-left: 30px;
}
#relatedNotes.pressed {
  background-position: -webkit-calc(50% - 15px) 100%;
}
#sameSiteNotes.pressed {
  background-position: 50% 100%;
}
#tips.pressed {
  background-position: -webkit-calc(50% + 15px) 100%;
}
#sameSiteNotes {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#smartPanel {
  max-height: 208px;
  overflow: hidden;
  white-space: nowrap;
}
#smartPanel.relatedNotes > div {
  left: 0;
}
#smartPanel.sameSiteNotes > div {
  left: -454px;
}
#smartPanel.tips > div {
  left: -908px;
}
#smartPanel.hasAtLeastOneNotebookName {
  max-height: 232px;
}

#relatedNotesContainer, #sameSiteNotesContainer, #tipsContainer {
  display: inline-block;
  padding: 14px 12px;
  position: relative;
  -webkit-transition: left 200ms linear;
  vertical-align: top;
  white-space: nowrap;
  width: 430px;
}
#sameSiteNotesContainer {
  max-height: 180px;
  overflow-y: auto;
  white-space: normal;
}
#smartPanel.hasAtLeastOneNotebookName #sameSiteNotesContainer {
  max-height: 204px;
}
/*.notesGradient, .notesGradientTop {
  width: 50%;
  height: 8px;
  position: absolute;
  bottom: 0;
  background-image: url(../../images/split-shadow.png);
  background-size: 438px 8px;
}
.notesGradientTop {
  top: 0;
  bottom: auto;
  -webkit-transform: scaleY(-1);
}*/
/* tips */
#tipsContainer {
  height: 208px;
  padding: 0;
  width: 454px;
}
#tipsContainer > div{
  display: none;
  margin: 0 auto;
  position: relative;
}
#smartPanel.hasAtLeastOneNotebookName #tipsContainer {
  height: 232px;
}
/* common skitch and food tips */
#tipsContainer.ratings #ratingsPrompt, #tipsContainer.nearQuota #nearQuotaTip,
#tipsContainer.skitch #skitchTip, #tipsContainer.food #foodTip,
#tipsContainer.referral #referralTip {
  display: block;
}
.tipLogo {
  background-position: 0 18px;
  margin: 0 auto;
  padding-top: 18px;
  text-align: center;
  white-space: normal;
}
.tipDetails {
  -webkit-align-items: center;
  display: -webkit-flex;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 35px;
  text-align: center;
  white-space: normal;
}
.tipButtons {
  bottom: 18px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}
.tipButton {
  background-color: #26B064;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #33CC78;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  line-height: 26px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.tipButton:hover {
  background-color: #26C66E;
}
.tipButton:active {
  background-color: #26B064;
  box-shadow: inset 0 0 8px 3px rgba(2, 52, 24, 0.3);
}
/* ratings prompt */
#ratingsPrompt {
  height: 100%;
}
#ratingsPrompt .tipLogo {
  color: #4DBDCB;
  font-family: "CaeciliaRoman", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 100px;
  padding-top: 12px;
}
.hasAtLeastOneNotebookName #ratingsPrompt .tipLogo {
  padding-top: 18px;
}
#ratingsPrompt .tipDetails {
  color: #E4EBF0;
  height: 88px;
  line-height: 21px;
  margin: 0 9px;
}
.hasAtLeastOneNotebookName #ratingsPrompt .tipDetails {
  height: 94px;
}
#ratingsPrompt .tipButtons {
  bottom: 12px;
}
.hasAtLeastOneNotebookName #ratingsPrompt .tipButtons {
  bottom: 18px;
}
#ratingsPrompt .tipLink {
  border-bottom: 1px solid #E4EBF0;
  color: #E4EBF0;
  cursor: pointer;
  display: inline-block;
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 14px;
}
.hasAtLeastOneNotebookName #ratingsPrompt .tipLink {
  margin-top: 20px;
}
#ratingsPrompt .tipLink:first-child {
  margin-right: 15px;
}
#ratingsPrompt .tipLink:last-child {
  margin-left: 15px;
}
body.safari #rateNow {
  display: none;
}
/* referral tip */
#referralTip {
  background-color: #F4F1F1;
  height: 100%;
}
#referralTip .tipLogo {
  background-image: url(../../images/blue-ribbon.png);
  background-position: 50% 17px;
  background-size: 27px 35px;
  color: #828282;
  font-family: "CaeciliaBold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 100px;
  padding-top: 61px;
}
.hasAtLeastOneNotebookName #referralTip .tipLogo {
  background-position: 50% 23px;
  padding-top: 67px;
}
#referralTip .tipDetails {
  color: #828282;
  font-family: "GothamBook", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 87px;
  line-height: 21px;
  margin: 0 30px;
}
.hasAtLeastOneNotebookName #referralTip .tipDetails {
  height: 99px;
}
#referralTip .tipButtons {
  bottom: 12px;
}
.hasAtLeastOneNotebookName #referralTip .tipButtons {
  bottom: 18px;
}
#referralTip .tipButton {
  background-color: #14A44A;
  box-shadow: inset 0 1px 0 0 #39CA6F;
  font-family: "GothamBook", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 28px;
  padding: 0 14px;
}
#referralTip .tipButton:hover {
  background-color: #32B965;
}
#referralTip .tipButton:active {
  background-color: #119944;
}
/* nearQuota tip */
#nearQuotaTip {
  height: 100%;
}
#nearQuotaTip .tipLogo {
  color: white;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 35px;
}
#nearQuotaTip .tipDetails {
  color: white;
  font-size: 12px;
  height: -webkit-calc(100% - 102px);
  margin: 0 70px;
}
#nearQuotaTip .tipButtons {
  bottom: 25px;
}
/* skitch tip */
#skitchTip {
  background-image: url(../../images/skitch-tip.png);
  background-size: 428px 199px;
  height: 199px;
  top: -webkit-calc(50% - 99px);
  width: 428px;
}
#skitchTip .tipLogo {
  background-image: url(../../images/skitch-logo.png);
  background-size: 123px 36px;
  height: 36px;
  width: 123px;
}
#tipsContainer.china #skitchTip .tipLogo {
  background-image: url(../../images/skitch-logo-china.png);
  background-size: 176px 36px;
  width: 176px;
}
#skitchTip .tipDetails {
  color: black;
  height: 101px;
}
/* food tip */
#foodTip {
  background-image: url(../../images/food-tip.png);
  background-size: 430px 201px;
  height: 201px;
  top: -webkit-calc(50% - 100px);
  width: 430px;
}
#foodTip .tipLogo {
  background-image: url(../../images/food-logo.png);
  background-size: 268px 41px;
  height: 41px;
  width: 268px;
}
#tipsContainer.china #foodTip .tipLogo {
  background-image: url(../../images/food-logo-china.png);
  background-size: 210px 41px;
  width: 210px;
}
#foodTip .tipDetails {
  color: white;
  height: 98px;
}
#iosFood {
  margin-right: 3px;
}
#androidFood {
  margin-left: 3px;
}

#close {
  float: right;
  line-height: 24px;
  margin: 14px 12px 14px 0;
  padding: 0 10px;
}

/* Error states */
#errorTitle, #errorDetails, #errorButton {
  color: white;
  display: none;
  padding-left: 46px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#errorTitle {
  background-image: url(../../images/error-clip.png);
  background-position: 15px 15px;
  background-size: 16px 16px;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px 15px 0 46px;
}
#errorDetails {
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  font-size: 11px;
  padding-top: 5px;
}
#errorButton {
  background-color: #26B064;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #33CC78;
  color: white;
  cursor: pointer;
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  line-height: 26px;
  margin: 15px 0 15px 46px;
  overflow: hidden;
  padding: 0 30px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#errorButton:hover {
  background-color: #26C66E;
}
#errorButton:active {
  background-color: #26B064;
  box-shadow: inset 0 0 8px 3px rgba(2, 52, 24, 0.3);
}
body.error #errorTitle, body.error #errorDetails {
  display: block;
}
body.error #errorButton {
  display: inline-block;
}
body.error #header, #edit, #notebook, #smart #close {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  #icon {
    background-image: url(../../images/sync_big@2x.gif);
  }
  body.done #icon {
    background-image: url(../../images/check@2x.png);
  }
  #reminders {
    background-image: url(../../images/reminder@2x.png);
  }
  #reminders.added {
    background-image: url(../../images/reminder_active@2x.png);
  }
  #reminders.added.changingDate {
    background-image: url(../../images/reminder_active@2x.png), url(../../images/reminders_arrow@2x.png);
  }
  #addDate {
    background-image: url(../../images/calendar@2x.png);
  }
  #notebook {
    background-image: url(../../images/notebook-clip-result@2x.png);
  }
  #referralTip .tipLogo {
    background-image: url(../../images/blue-ribbon@2x.png);
  }
  #skitchTip {
    background-image: url(../../images/skitch-tip@2x.png);
  }
  #skitchTip .tipLogo {
    background-image: url(../../images/skitch-logo@2x.png);
  }
  #tipsContainer.china #skitchTip .tipLogo {
    background-image: url(../../images/skitch-logo-china@2x.png);
  }
  #foodTip {
    background-image: url(../../images/food-tip@2x.png);
  }
  #foodTip .tipLogo {
    background-image: url(../../images/food-logo@2x.png);
  }
  #tipsContainer.china #foodTip .tipLogo {
    background-image: url(../../images/food-logo-china@2x.png);
  }
  #errorTitle {
    background-image: url(../../images/error-clip@2x.png);
  }
}