<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ejectKeyword</key>
	<string>eje</string>
	<key>ejectKeywordEnabled</key>
	<true/>
	<key>ejectallKeyword</key>
	<string>ejea</string>
	<key>ejectallKeywordEnabled</key>
	<true/>
	<key>emptytrashKeyword</key>
	<string>trash</string>
	<key>forcequitKeyword</key>
	<string>fc</string>
	<key>hideKeywordEnabled</key>
	<false/>
	<key>lockKeywordEnabled</key>
	<false/>
	<key>logoutKeywordEnabled</key>
	<false/>
	<key>quitKeywordEnabled</key>
	<false/>
	<key>quitallKeywordEnabled</key>
	<false/>
	<key>restartKeywordEnabled</key>
	<false/>
	<key>screensaverKeywordEnabled</key>
	<false/>
	<key>showtrashKeywordEnabled</key>
	<false/>
	<key>shutdownKeywordEnabled</key>
	<false/>
	<key>sleepKeyword</key>
	<string>slp</string>
</dict>
</plist>
