@charset "utf-8";
/* CSS Document */

/*-------------popup mian csss-------------*/
body{
	background-color:#F7F7F7;
	padding-top:0px;
	/*padding-bottom:7px;*/
	margin:0px;
	-webkit-text-size-adjust:none; /*For chrome text size limitation*/
	/*width:215px;*/
	font-family: Arial;
    -webkit-user-select:none;
}
#sign-in{
	-webkit-user-select:none;
	height:162px;
	color:#666666;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:40px;
	padding-left:12px;
	padding-top:5px;
	width:232px;
	display:none;
}
#sign-up-btn{
	background-image:url(../img/popup-image/google-account.png);
}
#sign-in-btn{
	background-image:url(../img/popup-image/sign-in.png);
	
}
.button{
	height:30px;
	width:200px;
	cursor:pointer;
	margin-left:10px;
}
.button:hover{
	background-position:0 60px;
}
.button:active{
	background-position:0 30px;
}
#main{
	-webkit-user-select:none;
	display:none;
	width:185px;
}
#main ul{
	list-style:none;
	display:block;
	padding:0px;
	margin:0px;
}
#main ul li{
	height:30px;
	display:block;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#333;
	line-height:30px;
	cursor:pointer;
	-webkit-border-radius:2px;
	-webkit-transition:background-color .2s ease-in,color .2s ease-in;
	
}

#main ul.disabled li:not(#search) {
    color: #ccc;
}

#main ul.disabled li:not(#bookmark):hover {
    color: #ccc;
}

#main ul li:not(#bookmark):hover{
	background-color:#e9e9e9;
	color:#39c;
}

.icon{
	display:inline-block;
	height:16px;
	width:16px;
	margin-left:8px;
	vertical-align:middle;
	margin-right:8px;
	margin-bottom: 1px;
}
#bm span:first-child{
	background-image:url(../img/popup-image/link.png);
}
#main ul li#annotate-tag:hover{
	background-color: rgba(0,0,0,0);
	color: black;
}
#bookmark div{
	float: left;
	text-indent: 32px;
	-webkit-transition:background-color .2s ease-in,color .2s ease-in,opacity .2s ease-in;
}
#bookmark.annotate-hover #bookmark-annotate{
	background-color:#e7e7e7;
	color:#39c;
}

ul.disabled #bookmark.annotate-hover #bookmark-annotate{
    background-color:#e7e7e7;
    color:#ccc;
}

#bookmark.annotate-hover #bookmark-save{
	background-color:#eee;
}
#bookmark.annotate-hover #sep1{
	opacity: 0;
}
#bookmark.tag-hover #bookmark-annotate{
	background-color:#eee;
}

ul.disabled #bookmark.tag-hover #bookmark-save{
    background-color:#e7e7e7;
    color:#ccc;
}
#bookmark.tag-hover #bookmark-save{
	background-color:#e7e7e7;
	color:#39c;
}
#bookmark.tag-hover #sep1{
	opacity: 0;
}
#bookmark-save{
	width: 81px;
	/*border-right: 1px solid #C8C8C8;*/
	background:url(../img/popup-image/save&edit.png) 8px 50% no-repeat;
}

#bookmark-save.saved{
    background:url(../img/popup-image/save&edit2.png) 8px 50% no-repeat;
}
 #sep1{
	width: 1px;
	height: 18px;
	background-color: #C8C8C8;
	margin-top: 6px;
}
#bookmark-annotate{
	width: 103px;
	text-indent: 36px !important;
	background:url(../img/popup-image/annotate.png) 11px 50% no-repeat;
}

#save-bookmark b{
    background-image:url(../img/popup-image/save&edit.png);
}
#read-later{
    text-indent: 32px;
	background:url(../img/popup-image/readlater.png) 8px 50% no-repeat;
}
#read-later.unread{
    background:url(../img/popup-image/readlater2.png) 8px 50% no-repeat;
}
#share b{
	background-image:url(../img/popup-image/share.png);
}
#screenshot b{
	/*margin-left:9px;
	margin-right:6px;*/
	background-image:url(../img/popup-image/screenshot.png);
}
#cached b{
	background-image:url(../img/popup-image/cached.png);
}

#search b{
    background-image: url("../img/popup-image/search.png");
}

#sep{
	height:1px;
	background-image:url(../img/popup-image/line.png);
	margin-bottom:6px;
	margin-top:3px;
}
#bookmark{

	
	
}
#quick-bookmark{
	display:inline-block;
	height:24px;
	width:34px;
	vertical-align:middle;
	margin-left:4px;
	
}

.unsaved{
	background-image:url(../img/popup-image/button-quick.png);
}
.saved{
	background-image:url(../img/popup-image/delete.png);
}
.unsaved:active,.saved:active{
	background-position:0 -24px;
}
#action{
	color:#666666;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:9px;
	padding-bottom:8px;
}
#action a{
	height: 12px;
	display:inline-block;
	background-position: 0 50%;
	background-repeat: no-repeat;
	text-indent: 15px;
	text-decoration:none;
	color:#666666;
	outline: none !important;
	vertical-align: middle;
}
#action a:hover{
	color: #08c;
}
#home{
	background-image:url(../img/popup-image/home.png);
}

#unread{
	margin-left:18px;
	background-image:url(../img/popup-image/unread.png);
}
#action #more{
	background-position:0 -12px;
	width:12px;
	height:12px;
	line-height:12px;
	margin-left:28px;
	background-image:url(../img/popup-image/more-arrow.png);
}
#action #more.unfold{
	background-position:0 0;
}
#more-link{
    height: 0px;
	/*height:54px;*/
	width:inherit;
    -webkit-transition: height 0.3s ease-in-out;
    overflow: hidden;
}

#action #more.unfold+div#more-link{
    height: 66px;
}
#more-link a{
	display:inline-block;
}

#more-link table{
    border-spacing: 0px;
    margin-top: 5px;
}

#more-link table td{
    height: 20px;
    width: 79px;
}
#more-link table td#last{
   width: 150px;
}
#my-network{
	background-image:url(../img/popup-image/network.png);
}
#my-groups{
	background-image:url(../img/popup-image/group.png);
}
#option{
	background-image:url(../img/popup-image/options.png);
}
#changelog{
	background-image:url(../img/popup-image/changelog.png);
}
#cache-version{
	width: 100px;
	background-image: url(../img/popup-image/cached.png);
}
#more-link #sign-out-btn{
	background-image:url(../img/popup-image/sign-out.png);
}




#main ul #cached{
	display: none;
}

/*-------------popup mian csss-------------*/



/*-------------popup savebookmark css-------------*/
#bm-main{
	background-color: white;
	width:460px;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-border-radius:4px;
    cursor: default;
    display: none;
}
#top-bar{
	height:38px;
	vertical-align:middle;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

#top-bar>span{
    line-height: 38px;
    display: inline-block;
    margin-left: 15px;
    color: #4B4B4B;
    font-size:16px;
}
#remove{
  float: right;
  color: #ff0000;
  background:-webkit-linear-gradient(bottom,#ebebeb,#f5f5f5);
  margin-top: 6px;
  margin-right: 15px;
  cursor: pointer;
  height: 24px;
  width: 27px;
  border:1px solid #c4c4c4;
  border-radius: 4px;
  box-shadow: 0px 1px 0px #fff;
  display: none;

}

#remove:active{
    background:-webkit-linear-gradient(top,#ebebeb,#f5f5f5);
}

#remove>span{
    float:left;
    background-image: url('../img/popup-image/remove.png');
    height: 14px;
    width: 11px;
    margin-top: 5px;
    margin-left: 8px;
}

#onload{
    float: right;
    margin-top: 6px;
    margin-right: 15px;
    height: 24px;
    width: 27px;
    background: url('../img/popup-image/loading4.gif') 50% 50% no-repeat;
}

#remove:hover>span{
    background-position: 0px -14px;
}


#form{
  padding: 20px 15px 0px 15px;
}
#form input[type="text"],#form textarea{
    outline: none;
    border: none;
    background-color: white;
    -webkit-transition: height .1s ease-in-out;
}
#form input[type="text"]{
    line-height: 20px;
}
#input-container{

}
#diigobm-title{
    height: 30px;
    border: 1px solid #d7d7d7;
    background-color: white;
    -webkit-transition: border 400ms ease;
    position: relative;
}

 .diigo-alert-tip{
    background-color: rgba(255,0,0,0.8);
    position: absolute;
    left: 117px;
    top:-29px;
    padding:4px 6px;
    display: block;
    font-size: 12px;
    font-weight:bold;
    pointer-events: none;
    font-family: arial, sans-serif;
    color:white;
    display: none;
     line-height: 16px;


}

 .diigo-alert-tip span{
    background: url('../img/popup-image/alert.png') -6px -4px no-repeat;
    text-indent: 17px;
    display: inline-block;
    vertical-align: middle;
}

 .diigo-alert-tip .diigo-alert-tip-arrow{
    position:absolute;
    border:5px solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgba(255,0,0,0.8);;
    border-left-color: transparent;
    top:24px;
    height:0;
    width:0;
    line-height:0px;
    -webkit-transform:rotate(180deg);
    left: 91px;
}

#diigobm-url .diigo-alert-tip{
    left: 136px;
}

#diigobm-url .diigo-alert-tip-arrow{
    left: 71px;
}

#diigobm-title.focus{
    border: 1px solid #aaa;
}

#link-icon{
   float: left;
   height: 30px;
   width: 30px;
   background: url("../img/popup-image/URL.png") 4px 0px no-repeat;
   cursor: pointer;
}
#link-icon:hover{
    background: url("../img/popup-image/URL.png") 4px -30px no-repeat;
}

#link-icon.unfold{
    background: url("../img/popup-image/URL.png") 4px -30px no-repeat;
}
#diigobm-title-input{
    margin: 4px 0px 0px 0px;
    width: 392px;
    border: none;
    outline: none;
    font-size: 14px;
}

#diigobm-options{

}
.option{
    font-size: 12px;
    height: inherit;
    width: 120px;
    display: inline-block;
    padding: 13px 0px 15px 0px;
    color:#555;
}

.option:hover{
    background-position: 0 -20px;
}
.option:active{
    background-position: 0 -40px;
}
.option.active{
    background-position: 0 -40px;
}
.option .op-checkbox,#Diigo-Bookmark-checkShareExisting .op-checkbox{
    height: 13px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-image: url("../img/popup-image/checkbox.png");
}
.option .op-label{
    margin-left: 7px;
    height: 15px;
    text-indent: 20px;
    display: inline-block;
    vertical-align: middle;

}

#Diigo-Bookmark-checkShareExisting{
    display: none;
}

#Diigo-Bookmark-checkShareExisting .op-label{
    margin-left: 7px;
    text-indent: -6px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.op-checkbox-container{
    display: inline;
    cursor:pointer;
}

#op-cache{
    margin-left: 20px;
}

.op-checkbox-container:hover>.op-checkbox{
    background-position: 0 -13px;
}

.op-checkbox-container.checked .op-checkbox{
    background-position: 0 -26px;
}


#op-private .op-label{
    background: url("../img/popup-image/private.png") no-repeat;
}
#op-readlater .op-label{
    background: url("../img/popup-image/op-readlater.png") no-repeat;
}
#op-cache .op-label{
    background: url("../img/popup-image/cache.png") no-repeat;
}
#diigobm-url{
    border-left: 1px solid #DCDCDC;
    border-right:1px solid #DCDCDC;
    background-color: white;
    position: relative;
}

#diigobm-url.fold{
    -webkit-animation: fold 400ms ease both;
    -webkit-animation-play-state: running;
}
#diigobm-url.unfold{
    -webkit-animation: unfold 400ms ease both;
    -webkit-animation-play-state: running;
    border-bottom: 1px solid #DCDCDC;

}

#diigobm-url.mac{
    height: 31px;
    display: none;
    border-bottom: 1px solid #DCDCDC;
}


#diigobm-url.win{
    -webkit-transform: rotateX(270deg);
    height: 0px;
    /*z-index: 0;*/
}

#diigobm-url.mac-unfold{
    display: block !important;
    border-bottom: 1px solid #DCDCDC;
}


@-webkit-keyframes unfold {
    0% { border-bottom:none;opacity:0;height:0px;-webkit-transform:perspective(400px) rotateX(-90deg);}
    100% { border-bottom: 1px solid #DCDCDC;opacity:1;height:30px;-webkit-transform:perspective(400px) rotateX(0deg);}
}

@-webkit-keyframes fold {
    0% { border-bottom: 1px solid #DCDCDC;opacity:1;height:30px;-webkit-transform:perspective(400px) rotateX(0deg);}
    100% {border-bottom:none;opacity:0;height:0px;-webkit-transform:perspective(400px) rotateX(-90deg);}
}
#diigobm-url>div#url-arrow{
    height: 6px;
    width: 13px;
    background-image: url("../img/popup-image/dp-arrow.png");
    position: absolute;
    left: 11px;
    top:-6px;
}
#diigobm-url-input{
    margin-top: 3px;
    width: 412px;
    margin-left: 5px;
}

#diigobm-des{
    border: 1px solid #d7d7d7;
    background-color: white;
    -webkit-transition: border 400ms ease;
}
#diigobm-des.focus{
    border: 1px solid #aaa;
}
#diigobm-des-input{
    width: 413px;
    max-width: 413px;
    font-family: Arial;
    height: 45px;
    margin-left: 6px;
    margin-top: 3px;
    font-size: 12px;
}
#diigobm-tag-wrapper{
    min-height: 30px;
    border: 1px solid #d7d7d7;
    background-color: white;
    margin-top: 15px;
    position: relative;
    -webkit-transition:border 400ms ease;
    height:30px;
}
#diigobm-tag-wrapper.focus{
    border: 1px solid #aaa;
}
#diigobm-tag-input{
    margin-top: 4px;
    margin-left: 2px;
    width: 389px;
    font-size: 12px;
}
#diigobm-tag-dropdown{
    height: 30px;
    width: 28px;
    background-image:url("../img/popup-image/dropdown.png");
    float: left;
    cursor: pointer;
}
/*#diigobm-tag-dropdown.cloud{
    -webkit-transform:rotate(180deg);
}*/
#diigobm-tag-dropdown:hover{
    background-position: 0 -30px;
}

#tag-suggestion{
    margin-top: 7px;
}
#diigobm-recommend-tag{
    margin-top: 3px;
    display: none;
}
.su-tag{
    line-height: 26px;
    font-size: 12px;
    min-height: 26px;
    margin-left: 5px;


}
.su-tag a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    width: 93px;
}
.su-tag a:hover{
    text-decoration: underline;
}

#tag-cloud{
    border: 1px solid #d7d7d7;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: none;
    background-color: white;
    font-size: 12px;
    margin-top: -1px;
}
#tag-cloud>div:first-child{
    height: 25px;
    width: 100%;
    line-height: 25px;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    text-indent: 2px;

}
#tag-cloud>div:first-child a{
    float: right;
    margin-right: 3px;
    text-decoration: none;
    clear:both;
}
#tag-cloud>div:first-child a:hover{
    text-decoration: underline;
}
#tag-cloud-container{
    max-height: 180px;
    overflow: auto;
    width: 421px;
    padding: 3px 5px 5px 0px;
}
#no-tag{
    margin-left: 135px;
    padding: 5px;
    font-weight: bold;
    color: #666;
}
.Diigo-Bookmark-Tag-item{
    margin-left: 3px;
    text-decoration: none;
    color: #04c;
    line-height: normal;
    display: inline-block;
    line-height: 140%;
    cursor: pointer;
    padding: 0px 2px;
}
.Diigo-Bookmark-Tag-item.selected{
    background-color: #09f;
    color: white;
}
.Diigo-Bookmark-Tag-item:hover{
    text-decoration: underline;
}

.loading{
    display: inline-block;
    height: 10px;
    width: 120px;
    background: url("../img/popup-image/loading.gif");
}


.diigo-tag{
    display: inline-block;
    height: 16px;
    padding: 0px 5px;
    line-height: 16px;
    background-color: #f2f2f2;
    border-top: 1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
    border-right: 1px solid #C9D7F1;
    border-bottom: 1px solid #C9D7F1;
    color:#858585;
    border-radius: 1px;
    cursor:pointer;
    margin-right: 3px;
}

.diigo-tag.selected{
    border-color: #82b3f8;
}

.diigo-tag.inused{
    color:#3f99a1;
}

.diigo_tag.repeated{
    -webkit-animation:notice 600ms ease both;
    -webkit-animation-play-state:running;
    -webkit-animation-iteration-count:2;

}

@-webkit-keyframes notice{
    0%{background-image: -webkit-linear-gradient(top,#fff,#f9f9f9);border: 1px solid #d3d3d3;}
    50%{ border-color: #aac7df;background-image: -webkit-linear-gradient(top,#ecf6fd,#e7f4fd);}
    100%{background-image: -webkit-linear-gradient(top,#fff,#f9f9f9);border: 1px solid #d3d3d3;}
}

.diigo_tag span{
    outline: none;
    display: inline-block;
    line-height: 13px;
    cursor: text;
    padding: 0px 3px 0px 0px;
}

.diigo_tag.edit{
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    font-weight: bold;
}

.diigo_tag_close{
    height: 20px;
    width: 15px;
    display: inline-block;
    /*margin-left: 5px;*/
    line-height: 10px;
    font-weight: bold;
    line-height: 20px;
    text-indent: 2px;
}
.diigo_tag_close:hover{
    color: red;
}
.diigo-tag:hover{
    border-color: #82b3f8;
}
.diigo-tag:active{

}

#list-group{
    margin-top:17px;
    height: 24px;
}
#list-group>div{
    float: left;
    height: 20px;
    font-size: 12px;
    color:#04c;
    width: 200px;
    font-weight: bold;
    line-height: 20px;

}

#list-group #diigobm-list-add{
    position: relative;
    display: none;
}

#diigobm-list-add .diigo-alert-tip{
    left: 7px;
    top: -29px;
}
#diigobm-list-add .diigo-alert-tip .diigo-alert-tip-arrow{
    left: 43px;
}

#list-group #diigobm-list-addInput{
    width: 102px;
    height: 26px;
    border: 1px solid rgb(215, 215, 215);
    -webkit-transition: border 400ms ease;
    padding: 0px 3px;
}

#list-group #diigobm-list-addInput:focus{
    border: 1px solid rgb(170, 170, 170);
}

#diigobm-list-add>*{
    float: left;
}

#diigobm-list-addBtn{
    height:26px;
    min-width: 38px;
    background-image: -webkit-linear-gradient(top,rgb(83, 170, 240),rgb(17, 140, 239));
    border: 1px solid rgb(6, 110, 193);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    line-height: 26px;
    font-weight: normal;
    margin-left: 6px;
    cursor: pointer;
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

#diigobm-list-addBtn:not(.processing):hover{
    background-image: -webkit-linear-gradient(top,rgb(69, 162, 238),rgb(3, 123, 219));
}

#diigobm-list-addBtn:not(.processing):active{
    background-image:-webkit-linear-gradient(bottom,#53aaf0,#118cef);
}

#diigobm-list-addBtn .label{
    margin-left: 8px;
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
}
#diigobm-list-addBtn .spinner{
    left: 8px;
    margin-left: -16px;
    opacity: 0;
    height: 16px;
    width: 16px;
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    display: inline-block;
    position: relative;
    top: 3px;
    visibility: hidden;
}


#diigobm-list-addBtn.processing+a{
    display: none;
}

#diigobm-list-addBtn.processing .spinner{
    opacity: 1;
    margin-left: 12px;
    left: -7px;
    visibility: visible;
    background-image: url("../img/popup-image/addlist-processing.gif");
}

#diigobm-list-addCancel{
    color: rgb(153, 153, 153);
    cursor: pointer;
    font-weight: normal;
    line-height: 26px;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 2px;
}

#diigobm-list-addCancel:hover{
    text-decoration: underline;
}
#diigobm-group{
    margin-left: 26px;
}
#list-group>div>select{
    height: 28px;
    width: 200px;
    display: block;
    -webkit-appearance: none !important;
    border: 1px solid #d7d7d7;
    background-position: right;
    background-repeat: no-repeat;
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.05);*/
    color: #333;
    /*text-shadow: 0 1px 0 #fff;*/
    background-image: url("../img/popup-image/select-arrow.png"), -webkit-linear-gradient(top,#fff,#f5f5f5);
    outline: none;
    cursor: pointer;
    font-size: 12px;
    padding-right: 22px;
    border-radius: 0px;

}

#diigobm-group-tag{
    display: none;
}

#list-group>div>select>option{

}


#list-group>div>select:hover{
    /*border: 1px solid #9acaec;*/

    background-image: url("../img/popup-image/select-arrow-hover.png"), -webkit-linear-gradient(top,#fbfbfb,#f3f3f3);
}

#list-group>div>select:active{
    background-image: url("../img/popup-image/select-arrow-hover.png"), -webkit-linear-gradient(top,#f5f5f5,#fff);
}

#list-group>div>select.processing{
    background-image: url("../img/popup-image/loading5.gif"), -webkit-linear-gradient(top,#f5f5f5,#fff);
}



#bottom{
	height:49px;
	padding-top:24px;
}

#diigobm-saveBtn{
	display:inline-block;
	height:28px;
	width:82px;
	line-height:28px;
    background-image:-webkit-linear-gradient(top,#53aaf0,#118cef);
	float:right;
	cursor:pointer;
    margin-right: 15px;
    text-align: center;
    color: white;
    border-radius: 2px;
    border: 1px solid #066ec1;
    font-size: 14px;


}
#diigobm-saveBtn:hover{
    background-image:-webkit-linear-gradient(top,#45a2ee,#037bdb);
}
#diigobm-saveBtn:active{
    background-image:-webkit-linear-gradient(bottom,#53aaf0,#118cef);
}
#diigobm-cancelBtn{
	display:inline-block;
	float:right;
	font-size:14px;
	color:#999999;
	height:12px;
	cursor:pointer;
	margin-top:5px;
	margin-right:19px;
}
#diigobm-cancelBtn:hover{
	text-decoration:underline;
}
.select-box .arrow{
	display:inline-block;
	margin-left:20px;
	height:5px;
	width:9px;
	
	margin-top:4px;
}
.unexpand{
	background-image:url(../img/popup-image/triangle1-blue.png);
}
.expand{
	background-image:url(../img/popup-image/triangle1-gray.png);
}

.hide{
	display:none;
}
.tools{
	padding:3px 7px;
	height:22px;
	width:inherit;
	border-bottom:1px solid #CDCDCD;
	border-left:1px solid #CDCDCD;
	border-right:1px solid #CDCDCD;
	vertical-align:middle;
	/*background:-webkit-linear-gradient(top,#fafafa,#f2f2f2);}*/
	background-image:url(../img/popup-image/add-bar.png);
}
.tools a{
	text-decoration:none;
	font-size:12px;
	color:#3265CB;
}
.tools a:hover{
	text-decoration:underline;
}
.diigo-items{
	width:398px;
	border:1px solid #CDCDCD;
	overflow-y:scroll;
	-webkit-box-shadow: inset 1px 1px 3px #e5e5e5;
}
#create-list{
	height:4px;
	width:170px;
	padding:7px;
}
#create-list-addbtn{
	width:46px;
	height:22px;
	display:inline-block;
	background-image:url(../img/popup-image/add.png);
	background-position:0 22px;
	cursor:pointer;
}
#create-list-addbtn:active{
	background-position:0 0;
}
.select-all{
	height:22px;
	font-size:12px;
	display:inline-block;
	line-height:22px;
	vertical-align:middle;
	float:right;
	
}
#list-selectall{
	margin-top:-13px;
}
#share-annotations{
	margin-right:3px;
}
label{
    font-size: 12px;
    cursor: pointer;
}
#bottom>div:first-child{
    float: left;
    margin-top: 3px;
    margin-left: 15px;
    font-size: 12px;
}
.select-checkbox{
	margin-right:9px !important;
}
.diigo-x-item{
	height:17px;
	width:173px;
	font-size:12px;
	line-height:17px;
	padding:3px 10px;
	float:left;
	vertical-align:middle;
	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden;
}

input[type=checkbox]{
	-webkit-appearance:none;
	width:14px;
	height:14px;
	margin:0;
	cursor:pointer;
	vertical-align:middle;
	background:#fff;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position:relative;
	
}
input[type=checkbox]:checked::after {
  content:url(../img/popup-image/checkmark.png);
  display: block;
  position: absolute;
  top: -4px;
  left: 1px;
}
input[type=checkbox]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
input[type=checkbox]:active{
  border-color: #c6c6c6;
  background: #ebebeb;
}
.triangle{
	height:14px;
	width:21px;
	background-image:url(../img/popup-image/triangle.png);
	position:absolute;
	top:-10px;
	left:55px;
}
#list-triangle{
	left:24px;
}
#group-triangle{
	left:226px;
}
::-webkit-scrollbar{
	width:8px;
}
::-webkit-scrollbar-track-piece {
  background-color: white;
}

::-webkit-scrollbar-thumb:vertical
{
    height: 20px;
    background-color: #CCCCCC;
}

#aas{
	float:left;
	margin-left: 13px;
    margin-top: 4px;
}
#alabel{
	font-size:14px;
	vertical-align:middle;
	margin-left:5px;
	
}

/*-------------popup savebookmark csss-------------*/

/*-------------popup search csss-------------*/
#search-main{
    width: 440px;
    display: none;
    padding: 10px 10px 0px 10px;
}

#search-box{
    border:1px solid #dddddd;
    background-color: #ffffff;
    height: 30px;
    margin-bottom: 10px;
}

#search-input{
    border: none;
    width: 403px;
    height: 30px;
    outline: none;
    padding-left: 5px;
}

#search-btn{
    height: 26px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    margin-top: -1px;
    border-left: 1px solid #dddddd;
    opacity: 0.8;
}

#search-btn:hover{
    opacity: 1;
}

#search-btn b{
    display: block;
    margin-top: 16px;
    margin-left: 15px;
    position: relative;
    width: 10px;
    height: 3px;
    background-color: #888888;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 2px;
}

#search-btn b::before{
    border: 2px solid #888888;
    content: "";
    position: absolute;
    top: -5px;
    left: -11px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}



#recent-result{
    min-height: 300px;
}

#search-result{


}

#search-result-loading{
    padding-top: 108px;
    height: 224px;
    line-height: 200px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

#search-result-loading .loading-div{
    background-image: url("../img/popup-image/searching.gif");
    text-indent: 60px;
}

.loading-div{
    height: 60px;
    width: 201px;
    background-repeat: no-repeat;
    line-height: 60px;
    color: #3cf;
    font-size: 24px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#search-result-main{
    display: none;
}

.result-item{
    font-size: 12px;
    padding: 7px;
    cursor: pointer;
    overflow: hidden;
}

.result-item .diigo-tag{
    margin-top: 3px;
}

.result-item:hover{
    background-color: #f7f7f7;
}

.result-item .result-item-title{
    color: #0072d6;
    max-width: 409px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    display: block;
}

input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    opacity: 0.3;
    background-image: url("../img/popup-image/clear.png");
    cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button:hover{
    opacity: 0.5;
}

.result-item .result-item-url{
    color: #999;
    margin-right: 5px;
}

.result-item .result-item-bottom{
    max-height: 44px;
    overflow: hidden;
}


#result-top{
    height: 25px;
    padding-left: 7px;
    color: #666;
    font-size: 12px;
    border: 1px solid #ddd;
    border-bottom: none;
}

#result-top span{
    float: left;
    line-height: 25px;
}


#result-box{
    border: 1px solid #ddd;
    overflow: auto;
    height: 300px;
    background-color: #ffffff;
}

#result-footer{
    height: 28px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#backLink  {
    float: left;
    font-size: 12px;
    text-decoration: none;
    margin-top: 6px;
    color: #666;
    display: block;
    background-image: url("../img/popup-image/arrow.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    height: 13px;
    line-height: 13px;
    text-indent: 12px;
}

#backLink:hover{
    color: #000000;
}

#viewAllLink{
    float: right;
    font-size: 12px;
    text-decoration: none;
    margin-top: 6px;
    color: #666;
}

#recent-result-tab-loading{
    position: absolute;
    width: 438px;
    height: 322px;
    border: 1px solid #DDD;
    background-color: #ffffff;
    text-align: center;
    line-height: 263px;
    font: bold 18px;
}

#recent-result-tab-loading .loading-div{
    text-indent: 60px;
    width: 174px;
    background-image: url("../img/popup-image/serach-loading.gif");
}

#recent-result-iframe{
    width: 438px;
    height: 322px;
    border: 1px solid #DDD;
    background-color: #ffffff;
    margin: 0px;
}
#recent-result-bar{
    height: 25px;
    padding-left: 7px;
    color: #666;
    font-size: 12px;
    border: 1px solid #DDD;
    border-bottom: none;
}
#recent-result{

}

.result-link{
    line-height: 25px;
    color: #999;
    cursor: pointer;
    margin-right: 7px;
    padding: 1px 7px;
    display: inline-block;
    height: 21px;

}

.result-link:hover{
    color: #666;
    border-bottom: 2px solid #ddd;
}

.result-link.current{
    color: #666;
    border-bottom: 2px solid #0af;
}
#recent-result-tab{
    margin-left: 152px;
}

#search-result-iframe {
    width: 438px;
    height: 300px;
    border: 1px solid #DDD;
    background-color: #ffffff;
    margin: 0px;
}

#search-result-container{
    position: relative;
    height: 360px;
}
.tab{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
}
.tab.current{
    visibility: visible;
    z-index: 1;
}

.tab.rotateSlideIn-l{
    -webkit-animation:rotateSlideIn-l 1s both ease;
}
.tab.rotateSlideOut-l{
    -webkit-animation:rotateSlideOut-l 1s both ease;
}
.tab.rotateSlideIn-r{
    -webkit-animation:rotateSlideIn-r 1s both ease;
}
.tab.rotateSlideOut-r{
    -webkit-animation:rotateSlideOut-r 1s both ease;
}

@-webkit-keyframes rotateSlideOut-l{
    25%{opacity:.5;-webkit-transform:scale(0.8)}
    75%{opacity:.5;-webkit-transform:scale(0.8) translateX(-200%)}
    100%{opacity:.5;-webkit-transform:scale(0.8) translateX(-200%)}
}

@-webkit-keyframes rotateSlideOut-r{
    25%{opacity:.5;-webkit-transform:scale(0.8)}
    75%{opacity:.5;-webkit-transform:scale(0.8) translateX(200%)}
    100%{opacity:.5;-webkit-transform:scale(0.8) translateX(200%)}
}

@-webkit-keyframes rotateSlideIn-l{
    0%,25%{opacity:.5;-webkit-transform:scale(0.8) translateX(200%)}
    75%{opacity:.5;-webkit-transform:scale(0.8)}
    100%{opacity:1;-webkit-transform:scale(1) translateX(0)}
}

@-webkit-keyframes rotateSlideIn-r{
    0%,25%{opacity:.5;-webkit-transform:scale(0.8) translateX(-200%)}
    75%{opacity:.5;-webkit-transform:scale(0.8)}
    100%{opacity:1;-webkit-transform:scale(1) translateX(0)}
}
/*-------------popup search csss-------------*/


/*=========== autocomplete ============*/
.ac_input {
}
.ac_results {
    border:1px solid #dddddd;
    background:#ffffff none repeat scroll 0%;
    cursor:pointer !important;
    font-size:11px !important;
    left:0pt;
    position:absolute;
    width:392px;
    z-index:2147483647;
    border-radius: 1px;
}

.ac_results.ac_search{
    width: 403px;
    border-radius: 0px;
}
.ac_results ul {
    margin:0;
    padding:0;
}
.ac_results li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding:2px 5px;
    border-radius: 1px;
}
.ac_results a {
    width:100%;
}
.ac_results li.over {
    color:white;
    background:#09f  none repeat scroll 0%;
}

/*-------------jquery UI autocomplete csss-------------*/
.ui-widget-content{
    border: 1px solid #ccc;
    color: #222222;
}

.ui-menu {
    list-style: none;
    padding: 2px;
    background-color: white;
    margin: 0;
    display: block;
    outline: none;
    border-radius: 3px;
}
.ui-widget {
    font-family: Arial,helvetica,sans-serif;
    font-size: 1.1em;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-menu .ui-menu-item {
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px;
    line-height: 15px;
    min-height: 0;
    font-weight: normal;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    background-color: #eee;
}