@font-face {
  font-family: "GothamMedium";
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/GothamSSm-Medium.otf) format('opentype');
}

@font-face {
  font-family: "GothamBold";
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/GothamSSm-Bold.otf);
}

@font-face {
  font-family: "caecilia";
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/caecilialtstd-roman-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}