@font-face {
  font-family: "GothamMedium";
  src: url(../fonts/GothamSSm-Medium.otf);
}

@font-face {
  font-family: "GothamBold";
  src: url(../fonts/GothamSSm-Bold.otf);
}

@font-face {
  font-family: "caecilia";
  src: url(../fonts/caecilialtstd-roman-webfont.woff);
  font-weight: normal;
  font-style: normal;
}